<!doctype html>
<html>
<head>
    <title>New Student</title>
</head>
<body>

  <h1>New Student Form</h1>

  <form action="/student-add" method='POST'>
      <label>Enter Student First Name
          <input type="text" name="first_name">
      </label><br><br>
      <label>Enter Student Last Name
          <input type="text" name="last_name">
      </label><br><br>
      <label>Enter Student Github
          <input type="text" name="github">
      </label><br><br>
      <input type="submit" value="Submit">
  </form>
</body>
</html>



